<h2 mat-dialog-title>{{ data ? 'Update Business Cards' : 'New Business Cards' }}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="showSpinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
  </div>
  <form [formGroup]="cardForm">
    <mat-form-field class="example-full-width">
      <mat-label>Job</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name and Surname or Company Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>E-mail.</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-grow-1 text-start" *ngIf="data">
    <button mat-stroked-button color="warn" (click)="deleteCard()" [disabled]="showSpinner">Delete</button>
  </div>
  <div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="data ? updateCard() : addCard()" [disabled]="cardForm.invalid || showSpinner">{{ data ? 'Update' : 'Add' }}</button>
  </div>
</mat-dialog-actions>
